<!DOCTYPE html>
<html>
    <head>
        <title>Games Collection</title>
        <meta charset="UTF-8">
        <meta name="author" content="Damien Lobegeiger">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="manifest" href="manifest.json">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/> 
        <link rel="apple-touch-icon" href="images/gca-icon-152.png"> 
        <meta name="theme-color" content="white"/> 
        <meta name="apple-mobile-web-app-capable" content="yes"> 
        <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
        <meta name="apple-mobile-web-app-title" content="Games Collection"> 
        <meta name="msapplication-TileImage" content="images/gca-icon-144.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
    </head>
    <body>
        <h1 id="app_title">Games <br> Collection</h1>
        <form action="login.php" method="POST">
            <input id="login" type="submit" value="Login">
        </form><br>
        <form action="signup.html" method="POST">
            <input id="signup" type="submit" value="Signup">
        </form>  
        <!-- <script src="js/main.js"></script> -->
    </body>
</html>